doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CSS ART - 1st Walkman -
        link(rel="stylesheet", href="./style.css")
    body
        .walkman
            .sony SONY
            .walkman-name-logo
                .walkman-name-logo-w
                    .walkman-name-logo-w1
                    .walkman-name-logo-w1
                .walkman-name-logo-a
                    .walkman-name-logo-a1
                    .walkman-name-logo-a-circle
                .walkman-name-logo-l
                .walkman-name-logo-k
                    .walkman-name-logo-k-rect
                    .walkman-name-logo-k1
                    .walkman-name-logo-k2
                .walkman-name-logo-w.m-rotate
                    .walkman-name-logo-w1
                    .walkman-name-logo-w1
                .walkman-name-logo-a
                    .walkman-name-logo-a1
                    .walkman-name-logo-a-circle
                .walkman-name-logo-a
                    .walkman-name-logo-a1 
                
                
            .arrow-box
                .arrow-tri
                .arrow-tri.tri-otherside
                .arrow-rect
            .circle
            .right-btn
            .orange-btn
            .walkman-right-side
            .walkman-shadow-line
            .walkman-window
                .walkman-window-dots
                .walkman-window-inner-window
                
                
                .walkman-window-cassette
                    .walkman-window-cassette-box  
                        .walkman-window-cassette-center
                            .walkman-window-cassette-center-inner
                            .walkman-window-cassette-center-inner-lines
                            .walkman-window-cassette-center-inner-lines
                            .walkman-window-cassette-center-inner-lines
                            .walkman-window-cassette-center-inner-black
                            .walkman-window-cassette-center-inner-black.left-top
                            .walkman-window-cassette-center-inner-black.right-top
                .walkman-window-cassette.btm
                    .walkman-window-cassette-box  
                        .walkman-window-cassette-center
                            .walkman-window-cassette-center-inner
                            .walkman-window-cassette-center-inner-lines
                            .walkman-window-cassette-center-inner-lines
                            .walkman-window-cassette-center-inner-lines
                            .walkman-window-cassette-center-inner-black
                            .walkman-window-cassette-center-inner-black.left-top
                            .walkman-window-cassette-center-inner-black.right-top
                
                .walkman-window-frame 
            